.account-card {
    background-color: black;
    color: white;
    height: 30vh;
    border-radius: 15px;
    z-index: 2;
    position: relative;
    margin-top: -150px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

.logo-motto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.motto {
    display: flex;
    color: rgb(241, 173, 45);
    flex-direction: column;
}

.balance {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}